<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div style="margin: 16px;">
            <h1>Về CIU</h1>
                <ul>Địa chỉ</ul>
                <ul>Mail</ul>
        </div>
        <div class="social" style="margin: 16px;">
            <a href="#"><i class="fab fa-github fa-2x"></i></a>
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
        </div>
    </div>
</footer>
</body>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- <script src="/javascripts/index.js"></script> -->

</html>
